<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
   
    <h1>Bookalchemy Books</h1>
    {% for book in books %}
    <div> 
        <h3>{{ book.title }}</h3>
    </div>
    <div> 
      <h2>{{ book.author }}</h2>
  </div>
    <div>
      <img src="{{ book.book_cover }}" alt="Book cover for {{ book.title }}">
    </div>
    {% endfor %}

  </body>
</html>