<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
   
    <h1>Bookalchemy Books</h1>
    {% for book in books %}
    <div> 
        <h2>{{ book.title }}</h2>
    </div>
    <div> 
      <!-- Check if the author exists -->
      {% if book.author %}
        <h3>{{ book.author.name }}</h3>
      {% else %}
        <h2>Unknown Author</h2>
      {% endif %}
    </div>
    <div>
      <img src="{{ book.book_cover }}" alt="Book cover for {{ book.title }}">
    </div>
    {% endfor %}

  </body>
</html>
